{:cljdoc.doc/tree [["Read Me" {:file "README.md"}]
                   ["HTTP" {:file "docs/http.md"}]
                   ["TCP" {:file "docs/tcp.md"}]
                   ["UDP" {:file "docs/udp.md"}]]}
